$scaleHover:scale(1.1);
$transitionHover:0.5s ease;

.works-page {
    @apply mb-[50px];
    &__list {
        @apply mt-[2rem] md:mt-[4rem] flex flex-wrap gap-x-[1%] md:gap-x-[2%] gap-y-[30px] md:gap-y-[2rem];
    }
    &__item {
        @apply w-full sm:w-[49%] xl:w-[32%];
        .wrap-media {
            @apply relative overflow-hidden w-full;

            &.video {
                @apply flex items-center justify-center bg-ip-black;
                &::before {
                    content: "";
                    @apply block pt-[75%];
                }
                video {
                    @apply absolute top-[50%] translate-y-[-50%] right-0;
                }
            }
            &:hover{
                ~.works-page__text .left{
                    @apply text-ip-red
                }
            }
        }

        &.video {
            video {
                @apply absolute top-0 left-[50%] translate-x-[-50%] bottom-0;
            }
            .works-page__image {
                @apply hidden;
            }
        }
        &.image {
            .icon-play {
                @apply hidden;
            }
            .gallery__item-video {
                @apply hidden;
            }
        }
        &.undefined {
            .icon-play {
                @apply hidden;
            }
            .wrap-media {
                @apply bg-[#8080801c];
            }
            .works-page__image {
                @apply bg-[#f3f3f3];
            }
            img.undefined {
                @apply block absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] #{!important};
            }
        }
        img.undefined {
            @apply hidden #{!important};
        }
    }
    &__text {
        @apply flex justify-between mt-[0.6rem] sm:mt-[1rem] md:mt-[1.389rem];
        a {
            @apply w-[51%];
        }
        .left {
            @apply text-ip-black mb-0 text-[1.2rem] md:text-md;
        }
        .right {
            @apply leading-[1.3] text-right text-[1.1rem] md:text-md;
        }
        &:hover {
            .left{
                @apply text-ip-red
            }
            // ~ .wrap-media .works-page__image{
            //     transform: $scaleHover;
            //     transform-origin: center
            // }
        }
    }
    &__image {
        @apply relative;
        transition: $transitionHover;
        &:hover{
            transform: $scaleHover;
            transform-origin: center
        }
        &::before {
            content: "";
            @apply block pt-[75%];
        }
        img {
            @apply absolute left-[50%] top-[50%] translate-y-[-50%] translate-x-[-50%];
        }
    }
}

.link-all-works {
    @extend .button-with-arrow;
}
