:root {
    --height_55: 55vh;
    --height_48: 48vh;
    --width_125vw: 12.5vw;
    --height_60vh: 60vh;
    --height_55_mobile: 50vh;
}

html.has-scroll-smooth {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 3px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
    height: 3px;
    top: initial;
}

.megamenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.megamenu .menumenu-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 0;
    width: 100%;
    background: #000;
    z-index: 19998;
}

.megamenu .megamenu-navigation {
    position: relative;
    padding: 0 15%;
    z-index: 19999;
}

.megamenu .megamenu-navigation .menu {
    margin-bottom: 100px;
}

.megamenu .megamenu-navigation .menu li {
    margin-bottom: 8px;
    line-height: 1;
}

.megamenu .megamenu-navigation .menu li:last-child {
    margin-bottom: 0;
}

.megamenu .megamenu-navigation .menu li a {
    position: relative;
    display: inline-block;
    color: #fcfcfc;
    font-size: 62px;
    text-transform: uppercase;
}

.megamenu .megamenu-navigation .menu li a .slide-line-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.megamenu .megamenu-navigation .menu li a .slide-line-wrap .slide-line {
    display: inline-block;
}

.megamenu .site-logo {
    width: 150px;
    margin-bottom: 25px;
}

.megamenu .site-logo .slide-line-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 0;
}

.megamenu .site-logo .slide-line-wrap .slide-line {
    padding: 5px 0;
    display: inline-block;
}

.megamenu .site-logo svg {
    width: 150px;
    height: auto;
}

.is-light .megamenu .site-logo svg path {
    fill: #fcfcfc;
}

.is-dark .megamenu .site-logo svg path {
    fill: #fcfcfc;
}

.megamenu .site-description {
    margin-bottom: 35px;
}

.megamenu .site-description .slide-line-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.megamenu .site-description .slide-line-wrap .slide-line {
    display: inline-block;
}

.is-light .megamenu .site-description {
    color: #fcfcfc;
}

.is-dark .megamenu .site-description {
    color: #fcfcfc;
}

.megamenu .insta {
    margin-bottom: 70px;
}

.megamenu .insta .slide-line-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.megamenu .insta .slide-line-wrap .slide-line {
    display: inline-block;
}

.megamenu .insta a {
    display: inline-block;
}

.megamenu .insta a svg {
    width: 30px;
}

.is-dark .megamenu .insta a svg circle.circle1,
.is-dark .megamenu .insta a svg path {
    stroke: #000;
    stroke: #fcfcfc;
}

.is-light .megamenu .insta a svg circle.circle1,
.is-light .megamenu .insta a svg path {
    stroke: #fcfcfc;
}

.is-dark .megamenu .insta a svg circle.circle2 {
    fill: #000;
    stroke: #fcfcfc;
}

.is-light .megamenu .insta a svg circle.circle2 {
    fill: #fcfcfc;
}

.megamenu .copyright {
    font-size: 12px;
    font-weight: 400;
}

.megamenu .copyright .slide-line-wrap {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.megamenu .copyright .slide-line-wrap .slide-line {
    display: inline-block;
}

.is-light .megamenu .copyright {
    color: #fcfcfc;
}

.is-dark .megamenu .copyright {
    color: #fcfcfc;
}

.main-navigation {
    position: absolute;
    top: 60px;
    right: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    mix-blend-mode: exclusion;
    z-index: 50;
}

.single .main-navigation {
    position: fixed;
    width: 100vw;
    right: initial;
}

.is-light #single-works-type1 .main-navigation {
    mix-blend-mode: initial;
}

.main-navigation ul {
    padding-right: 5%;
}

.main-navigation ul li {
    margin-bottom: 4px;
    line-height: 1.25;
}

.is-light .main-navigation ul li.active a:after {
    background: #000;
}

.is-dark .main-navigation ul li.active a:after {
    background: #fcfcfc;
}

.home .main-navigation ul li.active a:after {
    background: none;
}

.is-light .category .main-navigation ul li:first-child a:after,
.is-light .single .main-navigation ul li:first-child a:after {
    background: #000;
}

.is-dark .category .main-navigation ul li:first-child a:after,
.is-dark .single .main-navigation ul li:first-child a:after {
    background: #fcfcfc;
}

.main-navigation ul li:last-child {
    margin-bottom: 0;
}

.main-navigation ul li:last-child.active a:after {
    background: none;
}

.main-navigation ul li a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.01rem;
}

.main-navigation ul li a i {
    font-style: normal;
    font-size: 20px;
}

.is-light .main-navigation ul li a {
    color: #000;
}

.is-dark .main-navigation ul li a {
    color: #fcfcfc;
}

.main-navigation ul li a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: inherit;
}

.site-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100%;
}

.site-footer .site-info {
    display: none;
}

.site-footer .color-switch {
    position: absolute;
    right: 0;
    width: 68px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.site-footer .color-switch .current {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;
}

.can-toggle {
    position: relative;
    display: flex;
}

.can-toggle label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    width: 68px;
    margin-right: 0;
    margin-left: auto;
}

.can-toggle label .can-toggle__switch {
    position: relative;
    height: 28px;
    flex: 0 0 64px;
    border-radius: 4px;
    cursor: pointer;
}

.is-light .can-toggle label .can-toggle__switch {
    border: 1px solid #000;
}

.is-dark .can-toggle label .can-toggle__switch {
    border: 1px solid #fcfcfc;
}

.can-toggle label .can-toggle__switch:after,
.can-toggle label .can-toggle__switch:before {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    content: "";
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: #000;
    color: #fcfcfc;
    transform: translate3d(0, 0, 0);
    top: 2px;
    left: 2px;
    border-radius: 2px;
    line-height: 32px;
    font-size: 12px;
}

.can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    content: "";
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    left: 67px;
    font-size: 12px;
    line-height: 36px;
    padding: 0 12px;
}

.can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.can-toggle input[type="checkbox"][disabled] ~ label {
    pointer-events: none;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
    content: "";
    left: 0;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    content: "";
}

.can-toggle input[type="checkbox"][disabled] ~ label {
    color: #fcfcfc;
}

.can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.can-toggle label .can-toggle__switch:before {
    color: #fcfcfc;
}

.can-toggle label .can-toggle__switch:after {
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #fcfcfc;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(65px, 0, 0);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background: #000;
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #000;
    background: #fcfcfc;
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    color: #fcfcfc;
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(36px, 0, 0);
}

.can-toggle.demo-rebrand-2 label {
    font-size: 13px;
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch {
    height: 28px;
    flex: 0 0 64px;
    border-radius: 60px;
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
    left: 60px;
    line-height: 60px;
    padding: 0 12px;
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 30px;
    line-height: 56px;
}

.site-header .site-branding {
    position: fixed;
    top: 80px;
    left: 5%;
    mix-blend-mode: exclusion;
    display: flex;
    align-items: center;
    z-index: 5;
}

.site-header .site-branding .site-logo {
    font-size: 0;
    width: 130px;
    margin-right: 25px;
}

.site-header .site-branding .site-logo a {
    display: block;
}

.site-header .site-branding .site-logo a svg {
    width: 130px;
    height: auto;
}

.is-light .site-header .site-branding .site-logo a svg path {
    fill: #fcfcfc;
}

.is-dark .site-header .site-branding .site-logo a svg path {
    fill: #fcfcfc;
}

.site-header .site-branding .site-description {
    max-width: 220px;
    font-size: 10px;
    line-height: 1.5;
}

.is-light .site-header .site-branding .site-description {
    color: #fcfcfc;
}

.is-dark .site-header .site-branding .site-description {
    color: #fcfcfc;
}

@-moz-document url-prefix() {
    .is-light .site-header .site-branding .site-logo a svg path {
        fill: #000;
    }

    .is-dark .site-header .site-branding .site-logo a svg path {
        fill: #fcfcfc;
    }

    .is-light .site-header .site-branding .site-description {
        color: #000;
    }

    .is-dark .site-header .site-branding .site-description {
        color: #fcfcfc;
    }
}

.home .top-works-gallery-title-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.home .top-works-gallery-title-wrap .top-works-gallery-title {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.home .top-works-gallery-title-wrap .top-works-gallery-title.active {
    opacity: 1;
    z-index: 2;
}

.home .works-list .horizontal-box {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    height: 100vh;
}

.home .works-list .horizontal-box:first-child {
    padding-left: 5%;
}

.home .works-list .horizontal-box:last-child {
    padding-right: 10%;
}

.home .works-list .horizontal-box .horizontal-thumb-gallery {
    height: inherit;
}

.home .works-list .horizontal-box .thumb {
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .works-list .horizontal-box .thumb iframe,
.home .works-list .horizontal-box .thumb img,
.home .works-list .horizontal-box .thumb video {
    width: 120px;
    height: 490px;
    max-height: 70vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}

.category .works-list-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category .works-list-bg .works-post-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 1;
}

.category .works-list-bg .works-post-images video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}

.category .works-list-bg .works-post-images img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}

.category .works-list-bg .works-post-images.active {
    opacity: 1;
}

.category .works-list {
    max-width: 90%;
    margin: 0 auto;
}

.category .works-list .works-post {
    line-height: 1;
    margin-bottom: 10px;
}

.category .works-list .works-post:first-child {
    padding-top: 200px;
}

.category .works-list .works-post:last-child {
    margin-bottom: 0;
    padding-bottom: 200px;
}

.category .works-list .works-post .entry-title a {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    mix-blend-mode: exclusion;
}

html.is-dark .single-post .single-post-images .page-back .inner {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

html.is-light .single-post .single-post-images .page-back .inner {
    border-top: 1px solid rgba(22, 22, 22, 0.5);
}

.single-post #modal-cross {
    position: relative;
    display: inline-block;
    height: 46px;
    width: 46px;
    transform: rotate(45deg);
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.single-post #modal-cross span {
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    background: #fcfcfc;
}

.single-post #modal-cross span:nth-child(1) {
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(20deg);
    transition-delay: 0s;
    transform-origin: center center;
}

.single-post #modal-cross span:nth-child(2) {
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-20deg);
    transition-delay: 0.25s;
}

.single-post .modal {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 201;
}

.single-post .modal-bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(22, 22, 22, 0.98);
}

.single-post .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-post .modal-content .js-modal-close {
    position: absolute;
    top: 60px;
    right: 5%;
    z-index: 10;
}

.single-post .modal-content .modal-width-video-container {
    width: 900px;
}

.single-post .modal-content .modal-height-video-container {
    width: 440px;
}

.single-post .modal-content .video-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
}

.single-post .modal-content .video-wrap.height-video-wrap {
    padding-top: 177.8%;
}

.single-post .modal-content .video-wrap.width-video-wrap {
    padding-top: 56.25%;
}

.single-post .modal-content .video-wrap video {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.single-post.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

.single-post #single-post-video-entry-title {
    position: fixed;
    bottom: 75px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.single-post .site-main {
    margin-top: 0;
}

.single-post .site-main .site-main-inner {
    max-width: 100%;
}

.single-post .site-main .single-post-images .entry-main-images .thumb img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.single-post .site-main .single-post-images .entry-title {
    margin: 10vh auto;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.single-post .site-main .single-post-images .entry-content {
    padding-top: 150px;
}

.single-post .site-main .single-post-images .entry-content .works-gallery {
    display: flex;
    flex-flow: column;
}

.single-post .site-main .single-post-images .entry-content .works-gallery li {
    width: 65%;
    margin-bottom: 200px;
}

.single-post .site-main .single-post-images .entry-content .works-gallery li:last-child {
    margin-bottom: 300px;
}

.single-post .site-main .single-post-images .entry-content .works-gallery li:nth-child(odd) {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.single-post .site-main .single-post-images .page-back {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 250px;
    text-align: center;
}

.single-post .site-main .single-post-images .page-back .inner {
    padding-top: 130px;
    max-width: 100%;
}

.single-post .site-main .single-post-images .page-back a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
}

.single-post .site-main .single-post-images .page-back a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transform: scaleX(1);
    transform-origin: left;
}

.is-light .single-post .site-main .single-post-images .page-back a:after {
    background: #000;
}

.is-dark .single-post .site-main .single-post-images .page-back a:after {
    background: #fcfcfc;
}

.single-post .site-main .single-post-images .page-back a:hover:after {
    transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
    transform: scaleX(0);
    transform-origin: right;
}

.single-post .site-main .single-post-video .inner {
    max-width: 100%;
}

.single-post .site-main .single-post-video .horizontal-box {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    height: 100vh;
    min-width: 30vw;
}

.single-post .site-main .single-post-video .horizontal-box:first-child {
    padding-left: 5%;
}

.single-post .site-main .single-post-video .horizontal-box:first-child .horizontal-box-video-inner {
    padding-left: 0;
}

.single-post .site-main .single-post-video .horizontal-box:last-child .horizontal-box-video-inner {
    padding-left: 130px;
    padding-right: 200px;
}

.single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner {
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner .video-wrap .video-play-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.single-post
    .site-main
    .single-post-video
    .horizontal-box
    .horizontal-box-video-inner
    .video-wrap
    .video-play-button
    .icn-play {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fcfcfc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-top: 3px;
    letter-spacing: 0.1rem;
    display: none;
}

.single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner .video-wrap.width-video-wrap a {
    position: relative;
    display: block;
    width: 60vw;
    height: 0;
    padding-top: 56.25%;
}

.single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner .video-wrap.height-video-wrap a {
    position: relative;
    display: block;
    width: 20vw;
    height: 0;
    padding-top: 177.8%;
}

.single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner .video-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-post .site-main .single-post-video .horizontal-box .page-back a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
}

.single-post .site-main .single-post-video .horizontal-box .page-back a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
    transform: scaleX(1);
    transform-origin: left;
}

.is-light .single-post .site-main .single-post-video .horizontal-box .page-back a:after {
    background: #000;
}

.is-dark .single-post .site-main .single-post-video .horizontal-box .page-back a:after {
    background: #fcfcfc;
}

.single-post .site-main .single-post-video .horizontal-box .page-back a:hover:after {
    transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
    transform: scaleX(0);
    transform-origin: right;
}

@media (hover: none) and (any-pointer: coarse) {
    .single-post
        .site-main
        .single-post-video
        .horizontal-box
        .horizontal-box-video-inner
        .video-wrap
        .video-play-button
        .icn-play {
        display: flex;
    }
}

.page-about {
    max-width: 90%;
    margin: 0 auto;
}

.page-about .type-page {
    padding-top: 200px;
}

.page-about .type-page .about-entry-body {
    margin: 0 auto;
}

.page-about .type-page .entry-header {
    margin-bottom: 100px;
}

.page-about .type-page .entry-header .entry-title {
    font-size: 48px;
}

.is-dark .page-about .type-page .entry-header .entry-title {
    color: rgba(255, 255, 255, 0.5);
}

.is-light .page-about .type-page .entry-header .entry-title {
    color: rgba(22, 22, 22, 0.5);
}

.page-about .type-page .entry-content.entry-content-ja p {
    font-size: 16px;
    line-height: 2.5;
}

.page-about .type-page .entry-content p {
    font-size: 18px;
    line-height: 2.25;
}

.is-dark .page-about .type-page .entry-content p {
    color: rgba(255, 255, 255, 0.5);
}

.is-light .page-about .type-page .entry-content p {
    color: rgba(22, 22, 22, 0.5);
}

.page-about .type-page .entry-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.page-about .type-page .entry-footer .ad {
    margin-bottom: 60px;
    font-style: normal;
}

.page-about .type-page .entry-footer .tel {
    margin-bottom: 30px;
}

.page-about .type-page .entry-footer .mail {
    margin-bottom: 40px;
}

.page-about .type-page .entry-footer .insta {
    margin: 0 auto 120px;
    text-align: center;
}

.page-about .type-page .entry-footer .insta svg {
    width: 30px;
}

.is-dark .page-about .type-page .entry-footer .insta svg circle.circle1,
.is-dark .page-about .type-page .entry-footer .insta svg path {
    stroke: #fcfcfc;
}

.is-light .page-about .type-page .entry-footer .insta svg circle.circle1,
.is-light .page-about .type-page .entry-footer .insta svg path {
    stroke: #000;
}

.is-dark .page-about .type-page .entry-footer .insta svg circle.circle2 {
    fill: #fcfcfc;
}

.is-light .page-about .type-page .entry-footer .insta svg circle.circle2 {
    fill: #000;
}

.page-about .type-page .entry-footer .copyright {
    font-size: 12px;
    font-weight: 400;
}

.home .drag-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 1;
}

.home .top-works-gallery {
    display: flex;
    margin-left: 0;
    padding-right: 0;
    height: inherit;
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 1;
}

.home .top-works-gallery.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.home .top-works-content {
    position: relative;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}

.home .gallery__item {
    will-change: transform;
    // display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: var(--width_125vw);
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    z-index: 1;
}

.home .gallery__item ::-moz-selection {
    color: transparent;
    background: transparent;
}

.home .gallery__item ::selection {
    color: transparent;
    background: transparent;
}

.home .gallery__item ::-moz-selection {
    color: transparent;
    background: transparent;
}

.home .gallery__item-img {
    position: relative;
    width: 100%;
    // width: 90%;
    // width: calc(95% - 15px);
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    height: var(--height_48);
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 3;
}

.home .gallery__item-imginner {
    width: var(--width_125vw);
    height: var(--height_48);
    margin-right: 2vw;
    display: block;
    position: relative;
}
.home .video-wrap {
    width: var(--width_125vw);
    height: var(--height_48);
    margin-right: 2vw;
    display: block;
    position: relative;
}
.home .video-wrap video {
    background-color: aliceblue;
}

.home img {
    width: 100%;
    // height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width: 1024) {
    .home img {
        height: var(--height_48) !important;
    }
}

.home .top-works-video-link video {
    width: 0;

    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width: 1024) {
    .home .top-works-video-link video {
        height: var(--height_48) !important;
    }
}

.gallery__item.video .top-works-video-link {
    display: flex;
    align-items: center;
    width: var(--width_125vw) !important;
}

.tab-container .tab-menu-navigation {
    margin-bottom: 50px;
}

.tab-container .tab-menu-navigation .tab-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tab-container .tab-menu-navigation .tab-menu li {
    margin-right: 10px;
}

.tab-container .tab-menu-navigation .tab-menu li:last-child {
    margin-right: 0;
}

.tab-container .tab-menu-navigation .tab-menu li a {
    display: inline-block;
    padding: 9px 54px;
    font-size: 14px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    background: #fcfcfc;
    color: #000;
    border: 1px solid #000;
}

.tab-container .tab-menu-navigation .tab-menu li a.active {
    background: #000;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
}

.tab-container .tab-content {
    display: none;
}

.tab-container .active {
    display: block;
}

#menu-toggle {
    display: none;
}

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html.is-light {
    background: #fcfcfc;
    color: #000;
}

html.is-dark {
    background: #000;
    color: #fcfcfc;
}

.is-light body,
.is-light button,
.is-light input,
.is-light select,
.is-light textarea {
    color: #000;
}

.is-dark body,
.is-dark button,
.is-dark input,
.is-dark select,
.is-dark textarea {
    color: #fcfcfc;
}

::-moz-selection {
    color: #000;
    background: #fcfcfc;
}

::selection {
    color: #000;
    background: #fcfcfc;
}

::-moz-selection {
    color: #000;
    background-color: #fcfcfc;
}

input::-moz-selection,
textarea::-moz-selection {
    color: #000;
    background: #fcfcfc;
}

input::selection,
textarea::selection {
    color: #000;
    background: #fcfcfc;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

*:focus,
*:after:focus,
*:before:focus {
    outline: none;
}

body {
    -webkit-text-size-adjust: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

li,
ul {
    list-style-type: none;
}

dd,
dl,
dt,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

em,
i {
    font-style: normal;
}

main {
    display: block;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

.br-pc {
    display: block;
}

.br-sp {
    display: none;
}

a,
a:visited {
    text-decoration: none;
}

.is-light a,
.is-light a:visited {
    color: #000;
}

.is-dark a,
.is-dark a:visited {
    color: #fcfcfc;
}

a:hover {
    text-decoration: none;
}

.is-light a:hover {
    color: #000;
}

.is-dark a:hover {
    color: #fcfcfc;
}

a:active,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: 0;
}

@-webkit-keyframes animationlineHoverforwards {
    0% {
        transform: translateX(-122%);
    }

    50% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(122%);
    }

    70.01% {
        transform: translateX(-122%);
    }

    to {
        transform: translateX(-122%);
    }
}

@keyframes animationlineHoverforwards {
    0% {
        transform: translateX(-122%);
    }

    50% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(122%);
    }

    70.01% {
        transform: translateX(-122%);
    }

    to {
        transform: translateX(-122%);
    }
}

.loader .page-loading-logo-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity, z-index, visibility 0.5s ease-in-out;
}

.loader .page-loading-logo-wrap .page-loading-logo {
    position: relative;
}

.loader .page-loading-logo-wrap .page-loading-logo svg {
    width: 136px;
}

.is-light .loader .page-loading-logo-wrap .page-loading-logo svg path {
    fill: #fcfcfc;
}

.is-dark .loader .page-loading-logo-wrap .page-loading-logo svg path {
    fill: #000;
}

.loader .page-loading-logo-wrap .page-loading-line {
    width: 48%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .page-loading-logo-wrap .page-loading-line:after {
    content: " ";
    display: inline-block;
    width: 100%;
    transform: translateX(-122%);
    height: 2px;
    -webkit-animation: animationlineHoverforwards 1.2s cubic-bezier(0.58, 0.3, 0.005, 1) 0s infinite forwards;
    animation: animationlineHoverforwards 1.2s cubic-bezier(0.58, 0.3, 0.005, 1) 0s infinite forwards;
}

.is-light .loader .page-loading-logo-wrap .page-loading-line:after {
    background: #fcfcfc;
}

.is-dark .loader .page-loading-logo-wrap .page-loading-line:after {
    background: #000;
}

.page-transition {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.is-ready .page-transition {
    height: 100%;
}

.is-light .page-transition {
    background-color: #000;
}

.is-dark .page-transition {
    background-color: #fcfcfc;
}

.home .c-scrollbar {
    display: none;
}

.c-scrollbar {
    opacity: 1 !important;
}

.c-scrollbar .c-scrollbar_thumb {
    opacity: 1;
    width: 3px;
    border-radius: 0;
}

.is-dark .c-scrollbar .c-scrollbar_thumb {
    background: #fcfcfc;
}

.is-light .c-scrollbar .c-scrollbar_thumb {
    background: #000;
}

@media (any-pointer: fine) {
    #cursor {
        position: fixed;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        line-height: 1.3;
        padding: 5px;
        pointer-events: none;
        transform: scale(0);
        will-change: transform;
        mix-blend-mode: exclusion;
        z-index: 401;
    }

    .is-light #cursor {
        color: #000;
        background-color: #fcfcfc;
    }

    .is-dark #cursor {
        color: #000;
        background-color: #fcfcfc;
    }

    #cursor:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fcfcfc;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding-top: 3px;
        letter-spacing: 0.1rem;
        display: none;
    }

    #cursor.has-play-icon:before {
        content: "PLAY";
        display: flex;
    }

    #cursor.has-stop-icon:before {
        content: "STOP";
        display: flex;
    }

    #cursor.has-close-icon:before {
        content: "CLOSE";
        display: flex;
    }

    #cursor.has-drag-icon:before {
        content: "DRAG";
        display: flex;
    }

    #cursor.has-view-icon:before {
        content: "VIEW";
        display: flex;
    }
}

.inner {
    max-width: 90%;
    margin: 0 auto;
}

.data-inner {
    min-width: 100vw;
}

.home .site-main {
    margin-top: 0;
}

.home .site-main .site-main-inner {
    max-width: 100%;
}

.site-main .site-main-inner {
    max-width: 100%;
    margin: 0 auto;
}

.horizontal-box {
    font-size: 0;
    letter-spacing: 0;
}

.fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
}

.fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
    font-family: "object-fit: contain;";
}

.fadeUp {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s,
        transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.fadeUp.is-inview {
    transform: translateY(0);
    opacity: 1;
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fadeIn.is-inview {
    opacity: 1;
}

.scaleUp {
    overflow: hidden;
}

.scaleUp img {
    transform: scale(1.3) translateZ(-2px);
    transition: transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1) 0.15s, opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
}

.scaleUp.is-inview img {
    transform: scale(1);
    opacity: 1;
}
@media (max-width: 1023px) {
    .home .heading {
        bottom: 0 !important;
    }
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
    .br-pc {
        display: none;
    }
    .br-sp {
        display: block;
    }
    html.has-scroll-smooth {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
    }
    .loader .page-loading-logo-wrap .page-loading-logo svg {
        width: 100px;
    }
    .loader .page-loading-logo-wrap .page-loading-line {
        height: 2px;
        bottom: 24px;
    }
    .loader .page-loading-logo-wrap .page-loading-line:after {
        height: 2px;
    }
    .main-navigation {
        display: none;
    }
    .megamenu .megamenu-navigation {
        padding: 2.5vh 10%;
        width: 100%;
        height: 100vh;
        overflow: auto;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }
    .megamenu .megamenu-navigation .menu {
        margin-bottom: 6vh;
    }
    .megamenu .megamenu-navigation .menu li {
        margin-bottom: 2px;
        line-height: 1;
    }
    .megamenu .megamenu-navigation .menu li a {
        position: relative;
        display: inline-block;
        font-size: 42px;
    }
    .megamenu .site-logo {
        width: 100px;
        margin-bottom: 1vh;
    }
    .megamenu .site-logo svg {
        width: 100px;
        height: auto;
    }
    .megamenu .site-description {
        margin-bottom: 5vh;
        font-size: 11px;
    }
    .megamenu .insta {
        margin-bottom: 1.5vh;
    }
    .megamenu .insta a svg {
        width: 24px;
    }
    .megamenu .copyright {
        font-size: 10px;
    }
    .site-footer {
        height: 60px;
    }
    .site-footer .inner {
        max-width: 100%;
        padding: 0 7.5vw;
    }
    .site-footer .footer-area {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer .site-info {
        display: block;
    }
    .site-footer .site-info .site-description {
        font-size: 10px;
        text-transform: uppercase;
    }
    .site-footer .color-switch {
        width: 54px;
        height: 26px;
    }
    .site-footer .color-switch .current {
        width: 26px;
        height: 26px;
    }
    .can-toggle label {
        width: 54px;
    }
    .can-toggle label .can-toggle__switch {
        position: relative;
        height: 26px;
        flex: 0 0 54px;
        border-radius: 4px;
        cursor: pointer;
    }
    .is-light .can-toggle label .can-toggle__switch {
        border: 1px solid #000;
    }
    .is-dark .can-toggle label .can-toggle__switch {
        border: 1px solid #fcfcfc;
    }
    .can-toggle label .can-toggle__switch:after,
    .can-toggle label .can-toggle__switch:before {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .can-toggle label .can-toggle__switch:after {
        top: 2px;
        left: 2px;
        border-radius: 2px;
        line-height: 26px;
        font-size: 12px;
    }
    .can-toggle label .can-toggle__switch:before {
        left: 67px;
        font-size: 12px;
        line-height: 26px;
        padding: 0 12px;
    }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
        transform: translate3d(28px, 0, 0);
    }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch {
        height: 26px;
        flex: 0 0 54px;
    }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
        top: 2px;
        left: 2px;
        border-radius: 30px;
        line-height: 56px;
    }
    .site-header .site-branding {
        position: fixed;
        top: 40px;
        left: 7.5vw;
        z-index: 50;
        mix-blend-mode: exclusion;
        display: flex;
        align-items: center;
    }
    .is-open .site-header .site-branding {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
    .site-header .site-branding .site-logo {
        width: 100px;
        margin-right: 0;
    }
    .site-header .site-branding .site-logo a svg {
        width: 100px;
        height: auto;
    }
    .site-header .site-branding .site-description {
        max-width: 220px;
        font-size: 12px;
        line-height: 1.5;
        display: none;
    }
    .home .top-works-gallery-title-wrap .top-works-gallery-title {
        bottom: 85px;
        font-size: 16px;
        width: 90%;
    }
    .home .works-list .horizontal-box {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .home .works-list .horizontal-box:first-child {
        padding-left: 5%;
    }
    .home .works-list .horizontal-box:last-child {
        padding-right: 10%;
    }
    .home .works-list .horizontal-box .thumb {
        position: relative;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .works-list .horizontal-box .thumb iframe,
    .home .works-list .horizontal-box .thumb img,
    .home .works-list .horizontal-box .thumb video {
        width: 120px;
        height: 490px;
        max-height: 70vh;
        max-height: calc(var(--vh, 1vh) * 70);
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 1;
    }

    .category .works-list-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .category .works-list-bg .works-post-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        z-index: 1;
    }
    .category .works-list-bg .works-post-images.active {
        opacity: 1;
    }
    .category .works-list {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 7.5vw;
    }
    .category .works-list .works-post {
        line-height: 1;
        margin-bottom: 10px;
    }
    .category .works-list .works-post:first-child {
        padding-top: 150px;
    }
    .category .works-list .works-post:last-child {
        margin-bottom: 0;
        padding-bottom: 200px;
    }
    .category .works-list .works-post .entry-title a {
        font-size: 16px;
    }

    .single-post .modal-content .js-modal-close {
        top: 20px;
        right: 7.5%;
    }
    .single-post .modal-content .modal-width-video-container {
        width: 100%;
    }
    .single-post .modal-content .modal-height-video-container {
        width: 50%;
    }
    .single-post .modal-content .video-wrap.height-video-wrap {
        padding-top: 177.8%;
    }
    .single-post .modal-content .video-wrap.width-video-wrap {
        padding-top: 56.25%;
    }
    .single-post .modal-content .video-wrap video {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .single-post #single-post-video-entry-title {
        bottom: 100px;
        font-size: 16px;
    }
    .single-post .site-main .site-main-inner {
        max-width: 100%;
    }
    .single-post .site-main .single-post-images .entry-main-images .thumb img {
        width: 100%;
        height: calc(100vh - 40vh);
        -o-object-fit: cover;
        object-fit: cover;
    }
    .single-post .site-main .single-post-images .entry-title {
        margin: 7.5vh auto 0;
        font-size: 16px;
    }
    .single-post .site-main .single-post-images .entry-content {
        padding-top: 100px;
    }
    .single-post .site-main .single-post-images .entry-content .works-gallery li {
        width: 90%;
        margin-bottom: 100px;
    }
    .single-post .site-main .single-post-images .entry-content .works-gallery li:last-child {
        margin-bottom: 100px;
    }
    .single-post .site-main .single-post-images .page-back {
        max-width: 100%;
        padding-bottom: 125px;
        text-align: center;
    }
    .single-post .site-main .single-post-images .page-back .inner {
        padding: 65px 0 0;
        width: 90%;
    }
    .single-post .site-main .single-post-images .page-back a {
        font-size: 16px;
    }
    .single-post .site-main .single-post-video .horizontal-box {
        margin-top: 15px;
        height: 90vh;
    }
    .single-post .site-main .single-post-video .horizontal-box:first-child {
        padding-left: 3.5%;
    }
    .single-post .site-main .single-post-video .horizontal-box:last-child .horizontal-box-video-inner {
        padding-left: 50px;
        padding-right: 0;
    }
    .single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner {
        margin-right: 100px;
    }
    .single-post
        .site-main
        .single-post-video
        .horizontal-box
        .horizontal-box-video-inner
        .video-wrap
        .video-play-button
        .icn-play {
        width: 60px;
        height: 60px;
        font-size: 9px;
        border-radius: 50%;
        background: #fcfcfc;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        letter-spacing: 0.1rem;
    }
    .single-post
        .site-main
        .single-post-video
        .horizontal-box
        .horizontal-box-video-inner
        .video-wrap.width-video-wrap
        a {
        position: relative;
        display: block;
        width: 90vw;
        height: 0;
        padding-top: 56.25%;
    }
    .single-post
        .site-main
        .single-post-video
        .horizontal-box
        .horizontal-box-video-inner
        .video-wrap.height-video-wrap
        a {
        position: relative;
        display: block;
        width: 40vw;
        height: 0;
        padding-top: 177.8%;
    }
    .single-post .site-main .single-post-video .horizontal-box .horizontal-box-video-inner .video-wrap img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .single-post .site-main .single-post-video .horizontal-box .page-back a {
        font-size: 16px;
    }

    .page-about {
        max-width: 100%;
        padding: 0 7.5vw;
    }
    .page-about .type-page {
        padding-top: 150px;
    }
    .page-about .type-page .entry-header {
        margin-bottom: 50px;
    }
    .page-about .type-page .entry-header .entry-title {
        font-size: 24px;
    }
    .page-about .type-page .entry-content {
        margin-bottom: 0;
    }
    .page-about .type-page .entry-content.entry-content-ja p {
        font-size: 13px;
    }
    .page-about .type-page .entry-content p {
        font-size: 15px;
    }
    .page-about .type-page .entry-footer {
        padding-bottom: 0;
        font-size: 13px;
    }
    .page-about .type-page .entry-footer .ad {
        margin-bottom: 30px;
        font-style: normal;
    }
    .page-about .type-page .entry-footer .tel {
        margin-bottom: 15px;
    }
    .page-about .type-page .entry-footer .mail {
        margin-bottom: 20px;
    }
    .page-about .type-page .entry-footer .insta {
        margin: 0 auto 60px;
        text-align: center;
    }
    .page-about .type-page .entry-footer .insta svg {
        width: 20px;
    }
    .page-about .type-page .entry-footer .copyright {
        font-size: 10px;
    }

    .home .top-works-gallery {
        display: flex;
        // margin-left: 7.5vw;
        padding-left: 0;
        padding-right: 0;
        margin-left: 7px;
    }
    .gallery__item.video .top-works-video-link {
        width: 100% !important;
        display: block;
    }
    .home .gallery__item {
        width: 17.5vw;
    }
    // .home .gallery__item:first-child .gallery__item-img {
    //     padding-left: 0;
    //     width: fit-content;
    // }
    .home .gallery__item-img {
        margin-top: 26vh;
        height: calc(var(--vh, 1vh) * 100);
        align-items: flex-start;
    }
    .home .gallery__item-imginner,
    .home .video-wrap {
        width: 17.5vw;
        height: 60vh;
    }
    .home img {
        width: 0;
        height: 60vh;
    }
    .home .top-works-video-link video {
        width: 0;
        height: 60vh;
    }
    .home .top-works-gallery-title {
        height: 18vh;
    }
    .tab-container .tab-menu-navigation {
        margin-bottom: 50px;
    }
    .tab-container .tab-menu-navigation .tab-menu li {
        margin-right: 10px;
    }
    .tab-container .tab-menu-navigation .tab-menu li:last-child {
        margin-right: 0;
    }
    .tab-container .tab-menu-navigation .tab-menu li a {
        padding: 6px 26px;
        font-size: 10px;
    }
    .tab-container .tab-content {
        display: none;
    }
    .tab-container .active {
        display: block;
    }

    #menu-toggle {
        display: block;
        position: fixed;
        top: 30px;
        right: 7.5vw;
        width: 46px;
        height: 46px;
        cursor: pointer;
        mix-blend-mode: exclusion;
        transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
        z-index: 40;
    }
    #menu-toggle span {
        display: block;
        border-radius: 3px;
        transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle #hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle #hamburger span {
        position: relative;
        width: 100%;
        height: 2px;
        top: 0;
        right: 0;
        background: #fcfcfc;
        transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle #hamburger span:nth-child(1) {
        margin-bottom: 8px;
        transition-delay: 0.25s;
    }
    #menu-toggle #hamburger span:nth-child(2) {
        transition-delay: 0.5s;
    }
    #menu-toggle #cross {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle #cross span {
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle #cross span:nth-child(1) {
        height: 0;
        width: 2px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(20deg);
        transition-delay: 0s;
        transform-origin: center center;
    }
    #menu-toggle #cross span:nth-child(2) {
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(-20deg);
        transition-delay: 0.25s;
    }
    #menu-toggle.is-open {
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle.is-open #hamburger {
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle.is-open #hamburger span {
        width: 0;
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle.is-open #hamburger span:nth-child(1) {
        transition-delay: 0s;
    }
    #menu-toggle.is-open #hamburger span:nth-child(2) {
        transition-delay: 0.25s;
    }
    #menu-toggle.is-open #cross {
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle.is-open #cross span {
        background: #fcfcfc;
        transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    #menu-toggle.is-open #cross span:nth-child(1) {
        height: 100%;
        transition-delay: 0.625s;
    }
    #menu-toggle.is-open #cross span:nth-child(2) {
        width: 100%;
        transition-delay: 0.375s;
    }
}
@media (max-width: 580px) {
    .single-post .site-main .single-post-video .horizontal-box {
        height: 75vh;
    }
    .home .gallery__item {
        width: 33.2vw;
    }
    .home .gallery__item .gallery__item-imginner,
    .home .video-wrap {
        width: 33.2vw;
        height: 55vh;
        margin-right: 3vw;
    }
    .home .gallery__item-img {
        height: calc(var(--vh, 1vh) * 100);
    }
    .home img {
        width: 100%;
        transform: translate(0, 0);
        height: 55vh;
    }
    .home .top-works-video-link video {
        width: 100%;
        transform: translate(0, 0);
        height: 55vh;
    }
}

.vjs-waiting {
    visibility: hidden;
    background: transparent;
}
.vjs-loading-spinner {
    display: none !important;
}
